<app-user-model></app-user-model>

<form novalidate [formGroup]="pnr" (ngSubmit)="onSubmit()">
    <section class="gradient-custom">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <div class="main">
              <h2>PNR Details</h2>
              <!-- <div class="pull"><a class="btn btn-success" routerLinkActive="active" routerLink="/addairline" >Add Booking</a></div> -->
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 form-group">
                  <label>PNR Number</label>
                 <select class="form-control" formControlName="pnrdatanumber">
                     <option value="">Select</option>
                     <option *ngFor="let i of List" value="{{i.PNRNumber}}">
                      {{i.PNRNumber}}
                     </option>
                 </select>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-success">Search PNR</button>           
           </div>  
           <div class="card-body">
<div  class="row">
  <div class="col-md-4 form-group">
    <label>Airline</label>
    <!-- <label>{{singledata.FlightId}}</label> -->
  </div>
</div>


            <table class="table table-bordered table-dark">
              <thead>
                <tr>                 
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Food</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of pnrdata">       
                  <th scope="row">{{i.Name}}</th>
                  <th scope="row">{{i.Age}}</th>
                  <th scope="row">{{i.Gender}}</th>
                  <th scope="row">{{i.Food}}</th>
                  
                </tr>      
              </tbody>
            </table>
           </div>
        </div>
      </div>
    </section>
    </form>